* {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}

.main__box {
    width: 900px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.25);
}

.content {
    display: flex;
    position: relative;
}


/*half left*/

.images {
    flex: 1;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: -485px -252px;
    min-height: 470px;
    position: relative;
    overflow: hidden;
}

.img {
    position: absolute;
}

.woman__desktop {
    top: 15%;
    left: -19%;
}

.box {
    top: 40%;
    left: -10%;
    z-index: 1;
}


/*half right*/

.questions {
    flex: 1;
    padding: 50px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}

.question__block {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-top: 15px;
    overflow: hidden;
}




input[type="checkbox"] { display: none; }
#first:checked~span { font-weight: 700; }
#first:checked~.arrow { transform: rotate(180deg); }
#second:checked~span { font-weight: 700; }
#second:checked~.arrow { transform: rotate(180deg); }
#third:checked~span { font-weight: 700; }
#third:checked~.arrow { transform: rotate(180deg); }
#fourth:checked~span { font-weight: 700; }
#fourth:checked~.arrow { transform: rotate(180deg); }
#fifth:checked~span { font-weight: 700; }
#fifth:checked~.arrow { transform: rotate(180deg); }

.question__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.question__label:hover{color: #F47B56; }
.arrow { height: 8px; }

.answer{
    transform: translateY(-10px);
    opacity: 0;
}


/*footer*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
